{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load url from future %}
{% load i18n %}

{% block title %}Email Confirmation Sent{% endblock title %}

{% block content %}
<div class="row">
    <div class="span12">
        <h2>{% trans "Confirm your email address" %}</h2>

        <p>{% blocktrans %}We have sent you an email to <b>{{ email }}</b> for verification. Follow the link provided to finalize the signup process. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ THEME_ACCOUNT_CONTACT_EMAIL }}">{{ THEME_ACCOUNT_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
        <p><a href="{{ success_url }}">Go back</a></p>
    </div>
</div>
{% endblock content %}
