
{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load url from future %}
{% load i18n %}

{% block title %}Log Out{% endblock title %}

{% block content %}
<div class="row">
    <div class="span12">
        <form method="POST" action="{% url "account_logout" %}" class="form-horizontal">
            <legend>{% trans "Log Out" %}</legend>
            <fieldset>
                {% csrf_token %}
                <p>{% trans "Are you sure you want to log out?" %}</p>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans "Log out" %}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock content %}
