{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load url from future %}
{% load i18n %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<form method="POST" action="">
    <legend>{% trans "Change password" %}</legend>
    <fieldset>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        </div>
    </fieldset>
</form>
{% endblock content %}
