{% extends "public_base.html" %}
{% load url from future %}

{% block content %}
<div class="row-fluid">
    <div class="span12 jumbotron">
        <h1>Raise Money for your Mission Trip</h1>
        <p class="lead">
        Securely accept donations and track your status online. Keep your
        donors up-to-date.
        </p>
        <a href="#" class="btn btn-large btn-success">Sign up for free</a>
    </div>
</div>

<div class="row"><div class="span12"><hr /></div></div>


<div class="row-fluid benefits">
    <div class="span6">
        <h4>Accept Credit and Debit Cards</h4>
        <p>Securely accept most credit and debit cards.</p>

        <h4>Secure Payment</h4>
        <p>Payout to you, or directly to the charity you're working with.</p>
    </div>
    <div class="span6">
        <h4>Beautiful Landing Pages</h4>
        <p>A good letter to a donor will help - now they'll look good too.</p>

        <h4>Trip Progress</h4>
        <p>Keep tabs on your trip's progress</p>
    </div>
</div>
{% endblock %}
