{% load compress %}
{% load url from future %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if title %}{{ title }} - {% endif %}Funding</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}styles/bootstrap/bootstrap.less" type="text/less" />
        <link rel="stylesheet" href="{{ STATIC_URL }}styles/app.less" type="text/less" />
        {% endcompress %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
            <header class="masthead">
            <nav>
            <ul class="nav nav-pills pull-right">
                <li><a href="{% url "static:homepage" %}">Home</a></li>
                {% if user %}
                <li><a href="{% url "userena_profile_detail" user %}">Your Profile</a></li>
                <li><a href="{% url "userena_signout" %}">Sign Out</a></li>
                {% else %}
                <li><a href="{% url "userena_signin" %}">Sign In</a></li>
                <li><a href="{% url "userena_signup" %}">Sign Up</a></li>
                {% endif %}
            </ul>
            </nav>
            <h3 class="muted">Funding</h3>
            </header>

            <hr />

            <div class="main">{% block content %}{% endblock content %}</div>

            <hr />

            <footer class="row-fluid">
                <p class="span6">Copyright &copy; 2013 Brian Hicks</p>
                <p class="span6 pull-right right">CONTACT INFO</p>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
        {% block extra_scripts %}{% endblock extra_scripts %}
    </body>
</html>
