{% extends "internal_base.html" %}
{% load compress %}

{% block extra_scripts %}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/balanced-v1.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/knockout-2.2.1.js"></script>
<script type="text/javascript">balanced.init("{{ BALANCED_URI}}");</script>
<script type="text/javascript">

</script>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="form-container">
    {{ form }}
</div>
{% endblock content %}
