{% extends "internal_base.html" %}
{% load compress %}

{% block extra_scripts %}
{% compress js %}
<!-- external dependencies -->
<script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/balanced-v1.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/knockout-2.2.1.js"></script>
<script type="text/javascript">balanced.init("{{ BALANCED_URI}}");</script>

<!-- internal dependencies -->
<script type="text/javascript" src="{{ STATIC_URL }}scripts/balanced/bank-account.js"></script>

<!-- app -->
<script type="text/javascript" src="{{ STATIC_URL }}scripts/accounts/receiver_account_add.js"></script>
<script type="text/javascript">
var formApp = new AddForm();
ko.applyBindings(formApp, document.getElementById("add-form"));
</script>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="form-container">
    <form action="POST" class="form-horizontal" id="add-form">
        {% csrf_token %}
        <fieldset>
            <legend>Add a new funding destination</legend>
            <p>
            Right now, we can only deposit to bank accounts. Payments are
            processed with <a href="http://www.balancedpayments.com/">Balanced
            Payments</a> and your bank account details are never stored on
            our servers.
            </p>
            <div class="control-group">
                <label class="control-label" for="id_name">Name of this account:</label>
                <div class="controls">
                    {{ form.name }}
                    <span class="help-inline">{{ form.name.help_text }}</span>
                </div>
            </div>
            <hr />
            <div class="control-group">
                <label for="id_ba_name" class="control-label">Account Holder's Name:</label>
                <div class="controls">
                    <input type="text" id="id_ba_name" class="ba-name" autocomplete="off" placeholder="Johnny Appleseed" />
                </div>
            </div>
            <p>
            Valid routing numbers are 9 digits, and may include leading zeroes.
            They are located in the bottom-left corner of most checks. It may
            also be called the RTN, ABA, or Bank Code.
            </p>
            <div class="control-group" data-bind="css: { error: !bankAccount.routingNumber.valid() }">
                <label for="id_ba_rn" class="control-label">Routing Number:</label>
                <div class="controls">
                    <input id="id_ba_rn" type="text" class="ba-rn" autocomplete="off" placeholder="xxxxxxxxx" data-bind="value: bankAccount.routingNumber.value, valueUpdate: 'afterkeydown'" />
                    <span class="help-inline" data-bind="visible: !bankAccount.routingNumber.valid()">Invalid Routing Number - please see help above</span>
                </div>
            </div>
            <div class="control-group" data-bind="css: { error: !bankAccount.accountNumber.valid() }">
                <label for="id_ba_an">Account Number:</label>
                <div class="controls">
                    <input id="id_ba_an" type="text" class="ba-an" autocomplete="off" placeholder="xxxxxxxxx" data-bind="value: bankAccount.accountNumber.value, valueUpdate: 'afterkeydown'" />
                    <span class="help-inline" data-bind="visible: !bankAccount.accountNumber.valid(), text: bankAccount.accountNumber.error"></span>
                </div>
            </div>
            <div class="control-group">
                <label for="id_ac_type">Account Type:</label>
                <div class="controls" id="id_ac_type">
                    <select id="" name="">
                        <option value="" disabled selected>Select Account Type</option>
                        <option value="checking">checking account</option>
                        <option value="savings">savings account</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit" data-bind="enable: bankAccount.valid">Add</button>
            <a href=".." class="btn">Cancel</a>
            <span class="help" data-bind="visible: !bankAccount.valid()">Please correct the errors above before continuing.</span>
        </div>
    </form>
</div>
{% endblock content %}
