{% extends "internal_base.html" %}
{% load compress %}

{% block extra_scripts %}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/balanced-v1.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/knockout-2.2.1.js"></script>
<script type="text/javascript">balanced.init("{{ BALANCED_URI}}");</script>
<script type="text/javascript">
</script>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="form-container">
    <form action="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Add a new funding destination</legend>
            <p>
            Right now, we can only deposit to bank accounts. Payments are processed
            with <a href="http://balancedpayments.com/">Balanced Payments</a> and your
            bank account details are never stored on our servers.
            </p>
            <label for="id_name">Name of this account:</label>
            {{ form.name }}
        </fieldset>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Add</button>
            <a href=".." class="btn">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}
