{% extends "internal_base.html" %}
{% load compress %}
{% load url from future %}

{% block extra_scripts %}
{% compress js %}
{% endcompress %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <h1>Your Bank Accounts</h1>
    </div>
</div>
<div class="row">
    <div class="span12">
        <ul>
            {% for ba in bankaccount_list %}
            <li>{{ ba }} - <a href="{% url "funding:delete" ba.pk %}">[delete]</a></li>
            {% empty %}
            <li>No Accounts in the System</li>
            {% endfor %}
        </ul>
        <a href="{% url "funding:add" %}" class="btn btn-primary">Add a Bank Account</a>
    </div>
</div>
{% endblock content %}
