{% extends "internal_base.html" %}
{% load compress %}
{% load url from future %}

{% block extra_scripts %}
{% compress js %}
{% endcompress %}
{% endblock %}

{% block content %}
<form action="." method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Delete "{{ bankaccount.name }}"</legend>
        <p>
        Deleting this bank account will have consequences - you will no longer
        be able to transfer funds to the account, and you will not be able to
        receive funds for any of your trips. Are you sure you want to proceed?
        </p>
        <div class="form-actions">
            <input type="submit" class="btn btn-danger" value='Yes, please delete "{{ bankaccount.name }}"'></input>
            <a href="{% url "funding:list" %}" class="btn">No, get me out of here!</a>
        </div>
    </fieldset>
</form>
{% endblock content %}
