{% extends "base.html" %}
{% load url from future %}
{% load guardian_tags %}
{% load markup %}
{% load micawber_tags %}

{% block content %}
{% if request.user.is_authenticated %}
{% get_obj_perms user for trip as "trip_perms" %}
{% if "change_trip" in trip_perms %}
<div class="alert alert-info">
    <strong>Hey {{ user.first_name|default:"there" }}!</strong>
    This is a preview of a trip {% if user == trip.user %}you are{% else %}{{ trip.user.first_name|default:"Someone"|title }} is{% endif %} going on.
    You can <a href="{% url "trips:update" pk=trip.pk %}">edit this trip</a>.
    You can also <a href="{% url "trips:list" %}">go back to the trip list</a>.
</div>
{% endif %}
{% endif %}
<div class="row">
    <div class="span12">
        <h1>{{ trip.user.first_name|default:"Someone"|title }} is going to {{ trip.where }}!</h1>
        <!-- big background or video or something else awesome -->
    </div>
</div>
<div class="row">
    <div class="span8">
        {% if trip.video %}
        {{ trip.video|oembed:"600" }}
        {% endif %}
        {{ trip.letter|markdown:"safe" }}
    </div>
    <div class="span4">
        {{ trip.money_explanation|markdown:"safe" }}
        <hr />
        <p>I need to raise ${{ trip.amount_needed }} by {{ trip.due }}.</p>
        <a href="#" class="btn btn-primary btn-block">Support Me</a>
    </div>
</div>
{% endblock %}
